body {
  background: #FFF;
  padding: 20px;
  font-family: Helvetica, sans-serif;
}

#app {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
}

li {
  margin: 8px 0;
}

h2 {
  font-weight: bold;
  margin-bottom: 15px;
}

.done {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through;
}

.btn {
  padding: 10px 20px;
}

.del-btn {
  background-color: #FFF;
  border: none;
  color: red;
  cursor: pointer;
  opacity: 0;
  transition: all 0.2s;
}

.del-btn:hover {
  opacity: 1;
}

label:hover + .del-btn {
  opacity: 1;
}

.textInput {
  width: 100px;
}

input {
  margin-right: 5px;
}